<footer>
    <hr>
    <div>
        <p style ="text-align : center">ⓒ 2025. danniel All rights reserved</p>
    </div>
    <div>
        <p style ="text-align : center"><a href="https://www.notion.so/174babf84b8f80a2afd9e19c2b26e187?pvs=4" title="www.danniel.com">www.danniel.com</a>
    </div>
</footer>
</body>
