<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
        <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <header style="border-bottom: 1px solid lightgray; margin-bottom: 10px; padding-bottom: 10px;">
        <nav>
            <a href="/">홈</a>
            <a href="/like">취미</a>
            <a href="/portfolio">포트폴리오</a>
            <a href="/friends">친구</a>
            <a href="/contact">문의하기</a>
            <a href="/contactList">문의목록보기</a>
        </nav>
    </header>