<%-include('layouts/header.ejs')%>

    <h2>문의하기</h2>
    <div>
        <div>
            <form action="api/contact" method="post">
                <div class="row gy-4">

                    <div class="col-md-6">
                      <label for="name-field" class="pb-2">Your Name</label>
                      <input type="text" name="name" id="name-field" class="form-control" required="">
                    </div>
    
                    <div class="col-md-6">
                      <label for="email-field" class="pb-2">Your Email</label>
                      <input type="email" class="form-control" name="email" id="email-field" required="">
                    </div>
    
                    <div class="col-md-12">
                      <label for="subject-field" class="pb-2">Phone Number</label>
                      <input type="text" class="form-control" name="phone" id="subject-field" required="">
                    </div>
    
                    <div class="col-md-12">
                      <label for="message-field" class="pb-2">Message</label>
                      <textarea class="form-control" name="memo" rows="10" id="message-field" required=""></textarea>
                    </div>
                      <button class="w-100 btn btn-lg btn-primary"  type="submit" >Send Message</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
<%-include('layouts/footer.ejs')%>