<%-include('layouts/header.ejs')%>

<h2>제 취미 입니다.</h2>
<div>
  <div style="float:left">  <!-- style="float:left"를 사용하면 다음 div를 왼쪽으로 붙인다. -->
    <div class="thumbnail" style ="text-align : center">
      <img src="game.png"width="400" height="300">
      <p><strong>Game</strong></p> <!-- style="text-align:center"를 사용하여 글자를 가운데 정렬시킬 수 있다.-->
    </div>
  </div>
  <div>
    <div style ="text-align : center">
      <img src="book.png" alt="Building" width="400" height="300" object-fit="cover">
      <p><strong>Read Novel</strong></p>
    </div>
  </div>
  <div style="float:left">
    <div style ="text-align : center">
      <img src="movie1.png" alt="Sky" width="400" height="300" object-fit="cover">
      <p><strong>Movie</strong></p>
    </div>
  </div>
  <div>
    <div style ="text-align : center">
      <img src="trees-8463651_1280.png" alt="Sky" width="400" height="300" object-fit="cover">
      <p><strong>Coding</strong></p>
    </div>
  </div>
</div>
<%-include('layouts/footer.ejs')%>