<%-include('layouts/header.ejs')%>

    <h2>제 포트폴리오 입니다.</h2>
    <h4>What I have created</h4>
    <div class="row text-center slideanim">
      <div class="col-sm-4" style="float:left">  <!-- style="float:left"를 사용하면 다음 div를 왼쪽으로 붙인다. -->
        <div class="thumbnail">
          <img src="deer-8463729_1280.png" alt="Space" width="400" height="300" object-fit="cover">
          <p style ="text-align : center"><strong>Space</strong></p> <!-- style="text-align:center"를 사용하여 글자를 가운데 정렬시킬 수 있다.-->
          <p style ="text-align : center">Yes, I built this</p>
        </div>
      </div>
      <div class="col-sm-4" style="float:left">
        <div class="thumbnail">
          <img src="nature-8280318_1280.png" alt="Building" width="400" height="300" object-fit="cover">
          <p style ="text-align : center"><strong>Building</strong></p>
          <p style ="text-align : center">One of my best</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="trees-8463651_1280.png" alt="Sky" width="400" height="300" object-fit="cover">
          <p style ="text-align : center"><strong>Sky</strong></p>
          <p style ="text-align : center">It was challenging</p>
        </div>
      </div>

<%-include('layouts/footer.ejs')%>